.span9.first.wapper {
    position: relative;
}

.span4.slide.wapper {
    margin-left: 0 !important;
    margin-right: 10px;
}

.title.wapper {
    text-align: center;
}

li.hover-wapper {
    position: relative;
    cursor: pointer;
    width: 100%;
}

.box-wapper {
    visibility: hidden;
    position: absolute;
    top: -10px;
    right: -142px;
    line-height: 40px;
    background: #150000 !important;
    border-radius: 5px;
    z-index: 9999;
    width: 140px;
}

li.hover-wapper:hover {
    background: #ece4e4;
}

li.hover-wapper:hover .box-wapper {
    visibility: visible;
}

.box-wapper.active-menu {
    visibility: visible;
}

.box-wapper.active-menu.unactived {
    visibility: hidden !important;
}

.box-wapper .item-wapper .child {
    margin-left: 10px;
    display: block;
    color: white;
}

.blog-footer.wapper {
    position: absolute;
    bottom: -35px;
}

.notification-client .content-message {
    position: fixed;
    background: hsl(0deg 56% 49% / 85%);
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    right: 10px;
    top: 100px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.red {
    color: red
}

.unl-react,
.l-react {
    cursor: pointer;
}

.liked {
    color: blue;
}

.unliked {
    color: black;
}

.overlay.current {
    height: 23px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 99999;
}

th,
td {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.col-first-table {
    width: 6% !important;
}

.box-rule {
    display: flex;
}

.box-rule .cart-option-box {
    margin-right: 32px;
}

.box-rule .rule {
    width: 50%;
}

.box-rule .rule .high-l-rule {
    color: red;
    font-size: 18px;
}

.textarea {
    margin: 0px 0px 10px;
    height: 144px;
    width: 342px;
    resize: none;
}

@media only screen and (max-width: 1450px) {
    .box-wapper {
        right: 0px !important;
        left: -157px;
    }
}
